/* Add additional stylesheets below
-------------------------------------------------- */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'WYekan', 'Helvetica Neue', Helvetica, Atahoma;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.popover {
    font-size: 14px;
    font-family: 'WYekan', 'Helvetica Neue', Helvetica, Atahoma;
}

th,
td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.row-bottom-space {
    margin-bottom: 10px;
}

.row-top-space {
    margin-top: 10px;
}

.row-bottom-space-high {
    margin-bottom: 50px;
}

.row-top-space-high {
    margin-top: 50px;
}

.row-bottom-space-md {
    margin-bottom: 25px;
}

.row-top-space-md {
    margin-top: 25px;
}

.left-margin-10 {
    margin-left: 10px;
}

.gridViewContainer {
    height: 300px;
    overflow-y: scroll;
}

.numericTd {
    direction: ltr;
}