<style>
    .measurementsTable td {
        direction: ltr;
        cursor: pointer;
    }

    .noisesTable td {
        direction: ltr;
    }

    .resultTable td {
        padding: 5px;
    }

    hr {
        border-color: gray;
    }
</style>
<div class="container-fluid">
    <!-- No Data Hint -->
    <div class="row row-bottom-space" ng-if="!vm.measurements || vm.measurements.length === 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                <i class="fa fa-info" aria-hidden="true" style="margin-left: 10px;"></i>
                داده ای موجود نیست
            </div>
        </div>
    </div>

    <!-- Data Grid -->
    <div class="row row-top-space row-bottom-space" ng-if="vm.measurements.length > 0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body gridViewContainer">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>نقطه</th>
                            <th>عنوان فایل</th>
                            <th>تاریخ اندازه گیری</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.measurements">
                            <td ng-bind="row.rowNum"></td>
                            <td>{{row.point__title}}</td>
                            <td ng-bind="row.title"></td>
                            <td style="direction: ltr;"
                                ng-bind="vm.dateTimeService.toTehranTimeZone(row.measurement_date)"></td>
                            <td>
                                <button type="button"
                                        class="btn btn-info btn-sm"
                                        title="مشاهده نتایج"
                                        ng-click="vm.viewResults(row)">
                                    <i class="fa fa-book left-margin-5" aria-hidden="true"></i>
                                    <span>نتایج</span>
                                </button>
                                <button type="button"
                                        class="btn btn-danger btn-sm"
                                        mwl-confirm
                                        title="{{ 'حذف فایل' }}"
                                        message="{{ 'فایل مورد نظر و تمامی داده ها و نتایج آن حذف خواهد شد. ادامه می دهید ؟' }}"
                                        confirm-text="{{ 'بله' }}"
                                        cancel-text="{{ 'انصراف' }}"
                                        placement="{{ 'top' }}"
                                        on-confirm="vm.deleteFile(row.id)"
                                        confirm-button-type="danger"
                                        cancel-button-type="default">
                                    <i class="fa fa-times left-margin-5" aria-hidden="true"></i>
                                    <span>حذف</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>