<style>
    .measurementsTable td {
        direction: ltr;
        cursor: pointer;
    }

    .noisesTable td {
        direction: ltr;
    }

    .resultTable td {
        padding: 5px;
    }

    .resultTable .keyTd {
        text-align: left;
    }

    .resultTable .valueTd {
        text-align: right;
    }

    input.filterUI {
        width: 75px !important;
        direction: ltr;
    }

    hr {
        border-color: gray;
    }
</style>
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <div class="row row-bottom-space-high">
            <h3>فایل های ذخیره شده</h3>
    </div>

    <!-- No Data Hint -->
    <div class="row row-bottom-space" ng-if="!vm.measurements || vm.measurements.length === 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                <i class="fa fa-info" aria-hidden="true" style="margin-left: 10px;"></i>
                داده ای موجود نیست
            </div>
        </div>
    </div>

    <!-- Data Grid -->
    <div class="row row-top-space row-bottom-space" ng-if="vm.measurements.length > 0">
        <div class="col-md-12">
            <div class="gridViewContainer">
                <table class="measurementsTable table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>عنوان</th>
                        <th>تاریخ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in vm.measurements" ng-click="vm.onMeasurementSelected(row.id)">
                        <td ng-bind="row.rowNum"></td>
                        <td ng-bind="row.title"></td>
                        <td ng-bind="vm.dateTimeService.toTehranTimeZone(row.measurement_date)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Filters -->
    <div class="row row-bottom-space" ng-if="vm.noises.length > 0">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">

            <hr/>

            <div class="form-inline row-bottom-space">
                <label style="width: 115px; text-align: right;">فلتر پتانسیل از</label>
                <input ng-disabled="vm.isVoltageFiltered"
                       ng-model="vm.voltageFilterMin" type="text" class="form-control filterUI"
                       style="margin-right: 10px;"/>
                <label style="margin-right: 10px; margin-left: 10px;">تا</label>
                <input ng-disabled="vm.isVoltageFiltered"
                       ng-model="vm.voltageFilterMax" type="text"
                       class="form-control filterUI"/>

                <div ng-if="!vm.isVoltageFiltered"
                     ng-click="vm.applyFilters(vm.voltageFilterMin, vm.voltageFilterMax, 'voltage')"
                     class="btn btn-default" style="margin-right: 10px;">اعمال فیلتر
                </div>
                <div ng-if="vm.isVoltageFiltered"
                     class="btn btn-danger"
                     style="margin-right: 10px;"
                     ng-click="vm.resetFilter('voltage')">حذف فیلتر
                </div>
            </div>
            <div class="form-inline">
                <label style="width: 115px; text-align: right;">فیلتر شدت جریان از</label>
                <input ng-disabled="vm.isAmperageFiltered"
                       ng-model="vm.amperageFilterMin" type="text" class="form-control filterUI"
                       style="margin-right: 10px;"/>
                <label style="margin-right: 10px; margin-left: 10px;">تا</label>
                <input ng-disabled="vm.isAmperageFiltered"
                       ng-model="vm.amperageFilterMax" type="text"
                       class="form-control filterUI"/>

                <div ng-if="!vm.isAmperageFiltered"
                     ng-click="vm.applyFilters(vm.amperageFilterMin, vm.amperageFilterMax, 'amperage')"
                     class="btn btn-default" style="margin-right: 10px;">اعمال فیلتر
                </div>
                <div ng-if="vm.isAmperageFiltered"
                     class="btn btn-danger"
                     style="margin-right: 10px;"
                     ng-click="vm.resetFilter('amperage')">حذف فیلتر
                </div>
            </div>

            <hr/>

        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Tab Panel -->
    <div class="row row-space-bottom" ng-if="vm.noises && vm.noises.length > 0">
        <div class="col-md-12">
            <!-- Tab Headers -->
            <ul class="nav nav-tabs">
                <li ng-class="{'active': vm.activeTab === 1}"><a data-toggle="tab" href=""
                                                                 ng-click="vm.setActiveTab(1)">داده های اولیه</a>
                </li>
                <li ng-class="{'active': vm.activeTab === 2}"><a data-toggle="tab" href=""
                                                                 ng-click="vm.setActiveTab(2)">نتایج</a>
                </li>
                <li ng-class="{'active': vm.activeTab === 3}"><a data-toggle="tab" href=""
                                                                 ng-click="vm.setActiveTab(3)">نمودار ولتاژ</a>
                </li>
                <li ng-class="{'active': vm.activeTab === 4}"><a data-toggle="tab" href=""
                                                                 ng-click="vm.setActiveTab(4)">نمودار شدت جریان</a>
                </li>
            </ul>

            <!-- Tab Contents -->
            <div class="tab-content">

                <div ng-class="{'tab-pane fade in active': vm.activeTab === 1, 'tab-pane fade': vm.activeTab !== 1}">
                    <!-- Data Grid -->
                    <div class="row row-top-space row-bottom-space">
                        <div class="col-md-12">
                            <div class="gridViewContainer">
                                <table class="noisesTable table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>زمان</th>
                                        <th>دما</th>
                                        <th>ولتاژ</th>
                                        <th>جریان</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.noises">
                                        <td ng-bind="row.rowNum"></td>
                                        <td ng-bind="row.time"></td>
                                        <td ng-bind="row.temp"></td>
                                        <td ng-bind="row.voltage"></td>
                                        <td ng-bind="row.amperage"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-class="{'tab-pane fade in active': vm.activeTab === 2, 'tab-pane fade': vm.activeTab !== 2}">
                    <div class="row row-top-space row-bottom-space">
                        <div class="col-md-12">

                            <table class="resultTable">
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">Average</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.average}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">RMS</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.rms}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">SI</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.si}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">LI</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.li}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">SV</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.sv}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">RN</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.rn}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">ICORR</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.icorr}}</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="keyTd">
                                        <h4>
                                            <span class="label label-primary">MPY</span>
                                        </h4>
                                    </td>
                                    <td class="valueTd">
                                        <h4>
                                            <span class="label label-info">{{vm.results.mpy}}</span>
                                        </h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-class="{'tab-pane fade in active': vm.activeTab === 3, 'tab-pane fade': vm.activeTab !== 3}">
                    <div class="row row-top-space row-bottom-space" style="direction: ltr;">
                        <div class="col-md-12">
                            <nvd3 options="vm.voltageOptions" data="vm.voltageData"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                    </div>
                </div>

                <div ng-class="{'tab-pane fade in active': vm.activeTab === 4, 'tab-pane fade': vm.activeTab !== 4}">
                    <div class="row row-top-space row-bottom-space" style="direction: ltr;">
                        <div class="col-md-12">
                            <nvd3 options="vm.amperageOptions" data="vm.amperageData"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>