<div class="container-fluid">
    <div class="row row-bottom-space">
        <div class="col-md-1 line-height-normal text-left">عنوان</div>
        <div class="col-md-3">
            <input type="text"
                   class="form-control"
                   max-length="50">
        </div>
    </div>
    <div class="row row-bottom-space">
        <div class="col-md-1 line-height-normal text-left">توضیحات</div>
        <div class="col-md-5">
            <textarea class="form-control" style="resize: none; height: 100px;"></textarea>
        </div>
    </div>
    <div class="row row-bottom-space">
        <div class="col-md-5 col-md-offset-1">
            <button type="button"
                    style="width: 100px;"
                    class="btn btn-info">ثبت
            </button>
        </div>
    </div>
</div>