<style type="text/css">
    input.filterUI {
        width: 100px !important;
        direction: ltr;
    }

    .resultLabel {
        width: 75px;
        display: block !important;
        line-height: 2;
    }
</style>
<div class="container-fluid">

    <!-- Filters -->
    <div class="row row-bottom-space">

        <!-- Voltage filter -->
        <div class="col-md-6">
            <div class="row" style="height: 35px;">
                <div class="col-md-12 line-height-normal">
                    <span>فیلتر پتانسیل</span>
                </div>
            </div>
            <hr/>
            <div class="row row-bottom-space form-inline">
                <div class="col-md-4 text-left no-padding">
                    <label class="left-margin-15">از</label>
                    <input type="text"
                           ng-model="vm.voltageFilterMin"
                           class="form-control filterUI"
                           ng-disabled="vm.isVoltageFilterApplied"/>
                </div>
                <div class="col-md-1 line-height-normal"><label>تا</label></div>
                <div class="col-md-7 no-padding">
                    <input type="text"
                           ng-model="vm.voltageFilterMax"
                           class="form-control filterUI left-margin-5"
                           ng-disabled="vm.isVoltageFilterApplied"/>
                    <button type="button"
                            ng-click="vm.applyVoltageFilter()"
                            class="btn btn-info"
                            ng-show="!vm.isVoltageFilterApplied">اعمال تغییرات
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="vm.removeVoltageFilter()"
                            ng-show="vm.isVoltageFilterApplied">حذف
                    </button>
                </div>
            </div>
            <div class="row form-inline row-bottom-space">
                <div class="col-md-5 text-left line-height-normal">
                    <label>میانگین متحرک</label>
                </div>
                <div class="col-md-7 no-padding">
                    <input type="text"
                           ng-model="vm.voltageMAR"
                           class="form-control filterUI left-margin-5"
                           ng-disabled="vm.isVoltageMARApplied"/>

                    <button type="button"
                            ng-click="vm.applyVoltageMAR()"
                            class="btn btn-info"
                            ng-show="!vm.isVoltageMARApplied">اعمال تغییرات
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="vm.removeVoltageMAR()"
                            ng-show="vm.isVoltageMARApplied">حذف
                    </button>
                </div>
            </div>
            <hr/>
        </div>

        <!-- Amperage filter -->
        <div class="col-md-6">
            <div class="row" style="height: 35px;">
                <div class="col-md-3 line-height-normal">
                    <span>فیلتر جریان</span>
                </div>
                <div class="col-md-9 text-left">
                    <button type="button"
                            class="btn btn-success"
                            ng-show="vm.isVoltageFilterApplied || vm.isVoltageMARApplied || vm.isAmperageFilterApplied || vm.isAmperageMARApplied"
                            ng-click="vm.saveResult()">
                        <i class="fa fa-floppy-o left-margin-5" aria-hidden="true"></i>
                        <span>ذخیره و بازگشت</span>
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="vm.cancelAndReturn()">
                        <i class="fa fa-times left-margin-5" aria-hidden="true"></i>
                        <span>بازگشت</span>
                    </button>
                </div>
            </div>
            <hr/>
            <div class="row row-bottom-space form-inline">
                <div class="col-md-4 no-padding text-left">
                    <label class="left-margin-15">از</label>
                    <input type="text"
                           ng-model="vm.amperageFilterMin"
                           class="form-control filterUI"
                           ng-disabled="vm.isAmperageFilterApplied"/>
                </div>
                <div class="col-md-1 line-height-normal">
                    <label>تا</label>
                </div>
                <div class="col-md-7 no-padding">
                    <input type="text"
                           ng-model="vm.amperageFilterMax"
                           class="form-control filterUI left-margin-5"
                           ng-disabled="vm.isAmperageFilterApplied"/>
                    <button type="button"
                            ng-click="vm.applyAmperageFilter()"
                            ng-show="!vm.isAmperageFilterApplied"
                            class="btn btn-info">اعمال تغییرات
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-show="vm.isAmperageFilterApplied"
                            ng-click="vm.removeAmperageFilter()">حذف
                    </button>
                </div>
            </div>
            <div class="row row-bottom-space form-inline">
                <div class="col-md-5 text-left line-height-normal">
                    <label>میانگین متحرک</label>
                </div>
                <div class="col-md-7 no-padding">
                    <input type="text"
                           ng-model="vm.amperageMAR"
                           class="form-control filterUI left-margin-5"
                           ng-disabled="vm.isAmperageMARApplied"/>
                    <button type="button"
                            ng-click="vm.applyAmperageMAR()"
                            ng-show="!vm.isAmperageMARApplied"
                            class="btn btn-info">اعمال تغییرات
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-show="vm.isAmperageMARApplied"
                            ng-click="vm.removeAmperageMAR()">حذف
                    </button>
                </div>
            </div>
            <hr/>
        </div>

    </div>

    <!-- Diagrams -->
    <div class="row row-bottom-space">

        <!-- Voltage diagram -->
        <div class="col-md-6">
            <nvd3 options="vm.voltageOptions" data="vm.voltageData" style="direction: ltr;"
                  class="with-3d-shadow with-transitions"></nvd3>
        </div>

        <!-- amperage diagram -->
        <div class="col-md-6">
            <nvd3 options="vm.amperageOptions" data="vm.amperageData" style="direction: ltr;"
                  class="with-3d-shadow with-transitions"></nvd3>
        </div>

    </div>

    <!-- Parameters -->
    <div class="row row-bottom-space">
        <!-- -->
        <div class="col-md-offset-1 col-md-4">
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-success resultLabel">Average</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.average)}}</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-success resultLabel">Rms</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.rms)}}</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-success resultLabel">Si</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.si)}}</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-success resultLabel">Sv</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.sv)}}</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-success resultLabel">Icorr</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.icorr)}}</div>
            </div>
        </div>

        <!-- Main parameters -->
        <div class="col-md-offset-2 col-md-4">
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-danger resultLabel">Li</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.li)}}</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-danger resultLabel">Rn</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.rn)}}</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-6">
                    <div class="label label-danger resultLabel">Mpy</div>
                </div>
                <div class="col-md-6 text-left">{{vm.round(vm.results.mpy)}}</div>
            </div>
        </div>
    </div>

</div>